.main {
    height: 100vh;
    width: 100vw;
}

.main-page{
    display : flex;
    height: 100%;
    flex-grow: 1;
    overflow: auto;
}

.Sidebar {
    background-color: #2f4050;
    height:100%;
    min-width: 200pt;
    overflow: auto;
    margin-right: 25pt;
}

.component
{
    flex: 0.8;
    padding-left: 20px;
    padding-top: 10px;
}

.SidebarList {
    height: auto;
    width: 100%;
}

.SidebarList .row {
    height: 80px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color : white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.SidebarList .row:hover{
    cursor:pointer;
    background-color: #293846;
}

.SidebarList #active{
    background-color: #293846;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}
.row #title {
    flex:70%;
    color:white;
}
span{
    margin-left: 16px;
}

.link{
    color:white;
    place-items: center;
    flex:70%;
    margin-left:50px;
}

.set{
    padding-top: 60px;
}

.add{
    padding-top: 20px;

}
.material
{
    padding-left: 10px;
    padding-right: 10px;
}





