
.DXF-parameters-card {
    border: groove black;
    background: #6d6e6e;
    align-items: center;
    display: flex;
    width: 300pt;
    height: auto;
    margin: 60pt 60pt 60pt 60pt;
}

.DXF-parameters-card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    font-weight:bold;
    background:#232323;
    color: #fff;
}