:root {
    --primary: #fff;
}

.eric-link {
    height: 50pt;
    width: max-content;
    max-width: max-content;
    background-color: #dec300;
    margin-left: 50pt;
    border-radius: 8px;
    cursor: pointer;
    color: #d90404;
    border: 3px solid #000000;
}

.btn--primary {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #242424;
    border: 1px solid #fff;
}

.btn--outline {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
    background: #ffffff;
    color: #242424;
    transition: 250ms;
}